
<!-- each scrapped article needs comment fields as on Note Taker example -->

<form action="/comment" method="post">
    <h2>Enter a Comment!</h2>
        <textarea type="text" name="body" placeholder="Write Comment Here"></textarea>
        <input type="text" name="name" placeholder="Your Name">
        <input type="submit">
        <a href="/notes">See your notes!</a>
        <a href="/user">See your profile!</a>
        <a href="/populateduser">See your profile, populated with notes!</a>
</form>