<h1>Here's The Latest News for Your Pittsburgh Steelers</h1> 
  
<h4>Feel free to comment on any article.</h4>
  
  <p class="scrapedHere">
      <!-- scrapped news articles here --> 
  </p>
   

<!-- each scrapped article needs comment fields as on Note Taker example -->

<form action="/comment" method="post">
   <h4>Add a commment</h4>
      <textarea type="text" name="body" placeholder="Write Comment Here"></textarea>
      <input type="text" name="name" placeholder="Your Name">
      <input type="submit">

        {{!-- <a href="/notes">See your notes!</a>
        <a href="/user">See your profile!</a>
        <a href="/populateduser">See your profile, populated with notes!</a> --}}
</form>








